* html {
  font-family: "AvenirNext";
}

.background {
  background-color: #dddddd;
}

.b-g {
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
  float: right;
}

ul.topnav li:first-child {
  width: 70px;
  background-color: #97bb22;
}

ul.topnav li:first-child a:hover {
  background-color: #97bb22;
}

ul.topnav li a {
  display: inline-block;
  color: #4a4a4a;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  font-size: 24px;
}

ul.topnav li a:hover {
  background-color: #4a4a4a;
  color: #ffffff;
}

.mag {
  width: 25px;
  height: 25px;
  background-color: #97bb22;
}

.background-img {
  width: 100%;
  height: 813px;
}

.thinkspace-logo {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 383px;
  height: 383px;
}

.promote-card {
  background-color: #ffffff;
  margin-top: 15px;
  width: 70%;
  height: 479px;
}

.promote-card-label {
  float: left;
  display: inline-block;
  width: 60%;
}

.promote-card-header {
  font-size: 36px;
  color: #000000;
  padding-top: 23px;
}

.promote-card-description {
  padding-top: 15px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 18px;
  font-weight: normal;
}

.promote-card-explore {
  margin-top: 70px;
  margin-bottom: 63px;
}

.promote-card-explore a {
  color: #8c9b09;
  font-size: 18px;
}

.promote-card-img {
  float: left;
  display: inline-block;
  width: 40%;
}

.thinkspace-bag {
  height: 479px;
  width: 100%
}

.blur-card {
  height: 479px;
  background-color: #aaaaaa;
  margin-top: 15px;
  width: 70%;
  position: relative;
}

.thinkspace-connect {
  -webkit-filter: blur(5.2px);
  -moz-filter: blur(5.2px);
  -o-filter: blur(5.2px);
  -ms-filter: blur(5.2px);
  filter: blur(5.2px);
  width: 100%;
  height: 479px;
}

.blur-card-label {
  position: absolute;
  top: 0%;
  color: #ffffff;
}

.blur-card-header {
  font-size: 36px;
  padding-top: 23px;
}

.blur-card-description {
  font-size: 18px;
  font-weight: normal;
  padding-top: 10px;
  padding-left: 58px;
  padding-right: 58px;
}

.blur-card-explore {
  padding-top: 144px;
  padding-bottom: 46px;
}

.blur-card-explore a {
  font-size: 18px;
  color: #e9ffa2;
}
